{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "React": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "react/prop-types": [
      2,
      {
        "ignore": ["children"]
      }
    ],
    "linebreak-style": [0],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true
      }
    ]
  }
}
