{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "React": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "react/prop-types": [
      2,
      {
        "ignore": ["children"]
      }
    ],
    "linebreak-style": [0],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-underscore-dangle": [2, { "allow": ["_id"] }],
    "react/jsx-no-undef": [2, { "allowGlobals": true }],
    "import/prefer-default-export": [0]
  }
}
